
@import '_globals.scss';

$colors: (
  Soft Blue: hsl(231, 69%, 60%),
  Soft Red: hsl(0, 94%, 66%), 
  Grayish Blue: hsl(229, 8%, 60%),
  Very Dark Blue: hsl(229, 31%, 21%),
  White: hsl(0,100%,100%),
  black: hsl(100,0%,0%),
);

$fallback-colors: (
  'Absolute Zero', 'Alizarin crimson',CadetBlue4, NavyBlue, Snow, black
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
   
  @include bg-color(map-get($colors,White),nth($fallback-colors,5));
  @include font-color(map-get($colors,Black),nth($fallback-colors,6));
  font: {
     size: $font_size-16;
     weight: $font_weight-normal;
	   family: 'DM Serif Display', serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:block;
}
.shape{
  width:100%;
  @include bg-color(map-get($colors,Soft Blue),nth($fallback-colors,1));
  //clip-path:inset(0% 45% 0% 45% round 10px);
  border-radius: 45px;
}
.shape:before{
  content: "";
  display: block;
  padding-top: 25%;
}

.transform-up{
  transform: translateY(-35%);
}
.transform-right-down{
  transform: translate(5%,25%);
}
.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}
header,main,footer{
    img{
      
    }
    @include margin(0 auto);
    width: 90%;
    @include padding(1em);
    // max-width: 375px;
    @media screen and(min-width: 768px){
        //max-width: 1440px;
        @include padding(2em);
    }
}
header{
    
    nav{
        
       
    }
}
main{
    
}
footer{
    
}