*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  background-color: Snow;
  background-color: white;
  color: black;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Serif Display', serif; }

.hidden {
  display: none; }

.show {
  display: block; }

.relativeouter {
  position: relative; }

.shape {
  width: 70%;
  height: 70%;
  position: absolute;
  background-color: "Absolute Zero";
  background-color: #5368df;
  border-radius: 100px; }
  @media screen and (min-width: 768px) {
    .shape {
      width: 80%;
      height: 80%; } }

.shape:before {
  content: "";
  display: block;
  padding-top: 25%; }

.top-z-index {
  position: relative;
  z-index: 1;
  opacity: 1; }

#container {
  margin: 0 auto;
  overflow: hidden;
  /*.red-font-hover{
     &:hover{
      @include font-color(map-get($colors,Soft Red),nth($fallback-colors,2));
     }
  }*/ }
  #container section {
    margin-top: 10em; }
  #container button[disabled], #container button[aria-disabled=true] {
    opacity: 0.5; }
  #container header, #container main, #container footer {
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    background-color: Snow;
    background-color: white;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      #container header, #container main, #container footer {
        padding: 4em;
        max-width: 1400px; } }
  #container .container {
    margin-top: -5em; }
    #container .container .btnHover:hover, #container .container .container__firstchild #getonchromebtn:hover, #container .container__firstchild .container #getonchromebtn:hover, #container .container .container__thirdchild #addbtnChrome:hover, #container .container__thirdchild .container #addbtnChrome:hover, #container .container .container__thirdchild #addbtnFirefox:hover, #container .container__thirdchild .container #addbtnFirefox:hover, #container .container .container__thirdchild #addbtnOpera:hover, #container .container__thirdchild .container #addbtnOpera:hover {
      background-color: CadetBlue4;
      background-color: #e6e7ea;
      color: "Absolute Zero";
      color: #5368df;
      border: 2px solid #5368df; }
    #container .container__firstchild {
      margin-top: 10em; }
      #container .container__firstchild .transform-right-down {
        top: 25%;
        left: 55%; }
        @media screen and (min-width: 768px) {
          #container .container__firstchild .transform-right-down {
            top: 35%;
            left: 55%; } }
      #container .container__firstchild #getonchromebtn {
        color: Snow;
        color: white;
        background-color: "Absolute Zero";
        background-color: #5368df; }
      #container .container__firstchild #getonfirefoxbtn {
        background-color: CadetBlue4;
        background-color: #e6e7ea;
        color: NavyBlue;
        color: #252b46;
        box-shadow: 0 8px 8px -4px lightgrey; }
        #container .container__firstchild #getonfirefoxbtn:hover {
          box-shadow: none;
          border: 2px solid #252b46; }
    #container .container__secondchild .transform-left-down {
      top: 45%;
      right: 55%; }
      @media screen and (min-width: 768px) {
        #container .container__secondchild .transform-left-down {
          top: 50%;
          right: 65%; } }
    #container .container__secondchild .top-margin {
      margin-top: 10em; }
      @media screen and (min-width: 768px) {
        #container .container__secondchild .top-margin {
          margin-top: 0; } }
    #container .container__secondchild .custom-border {
      border-bottom: none; }
      #container .container__secondchild .custom-border.active {
        border-bottom: 2px solid red; }
      #container .container__secondchild .custom-border:hover {
        border-bottom: none; }
    #container .container__secondchild .custom-font {
      color: CadetBlue4;
      color: #afb1bb; }
      #container .container__secondchild .custom-font:hover {
        color: "Alizarin crimson";
        color: #fa5757; }
      #container .container__secondchild .custom-font.active {
        color: NavyBlue;
        color: #252b46; }
    #container .container__thirdchild {
      margin-top: 10em; }
      @media screen and (min-width: 768px) {
        #container .container__thirdchild .padding-top-3em {
          padding-top: 3em; }
        #container .container__thirdchild .padding-top-6em {
          padding-top: 6em; } }
      #container .container__thirdchild #addbtnChrome, #container .container__thirdchild #addbtnFirefox, #container .container__thirdchild #addbtnOpera {
        color: Snow;
        color: white;
        background-color: "Absolute Zero";
        background-color: #5368df; }
    #container .container #center-button {
      display: block;
      margin: 0 auto;
      width: auto; }
    #container .container__fourthchild .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F02656'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important; }
    #container .container__fifthchild {
      color: Snow;
      color: white;
      background-color: "Absolute Zero";
      background-color: #5368df;
      min-height: 10em; }
      #container .container__fifthchild .move-right-up {
        position: relative;
        left: 85%;
        bottom: 2em; }
      #container .container__fifthchild input, #container .container__fifthchild button {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0 auto; }
      #container .container__fifthchild #contact {
        background-color: "Alizarin crimson";
        background-color: #fa5757;
        color: Snow;
        color: white; }
        #container .container__fifthchild #contact:hover {
          background-color: Snow;
          background-color: white;
          color: "Alizarin crimson";
          color: #fa5757;
          border: 2px solid red; }
    #container .container__sixthchild {
      background-color: NavyBlue;
      background-color: #252b46; }
      #container .container__sixthchild svg path {
        filter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(880%) hue-rotate(150deg) brightness(102%) contrast(104%); }
      #container .container__sixthchild .svg-red-hover:hover {
        filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(3865%) hue-rotate(348deg) brightness(112%) contrast(93%); }
      #container .container__sixthchild a {
        color: Snow;
        color: #ffd6d6;
        text-decoration: none; }
    @media screen and (min-width: 768px) {
      #container .container {
        margin-top: -15%; } }
  #container footer .attribution {
    display: block;
    width: 20%;
    padding: 0;
    margin: 0 auto; }

/*# sourceMappingURL=bookmark-landing-page-master.css.map */
