
@import '_globals.scss';

$colors: (
  Soft Blue: hsl(231, 69%, 60%),
  Soft Red: hsl(0, 94%, 66%), 
  Grayish Blue: hsl(229, 8%, 60%),
  Very Dark Blue: hsl(229, 31%, 21%),
  White: hsl(0,100%,100%),
  black: hsl(100,0%,0%),
);

$fallback-colors: (
  'Absolute Zero', 'Alizarin crimson',CadetBlue4, NavyBlue, Snow, black
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
  @include bg-color(map-get($colors,White),nth($fallback-colors,5));
  @include font-color(map-get($colors,Black),nth($fallback-colors,6));
  font: {
     size: $font_size-16;
     weight: $font_weight-normal;
	   family: 'DM Serif Display', serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:block;
}
.relativeouter{
  position: relative;
}


.shape-top{
    width: 120%;
    height: 70%;
    position:absolute;
    @include bg-color(map-get($colors,Soft Blue),nth($fallback-colors,1));     //use extend
    border-radius: 100px;
    @media screen and(min-width:768px){
      width:70%;
      height: 70%;
    }
}
.shape-bottom{
    width: 70%;
    height:40%;
    position:absolute;
    @include bg-color(map-get($colors,Soft Blue),nth($fallback-colors,1));     //use extend
    border-radius: 100px;
    @media screen and(min-width:768px){
      width:70%;
      height: 70%;
    }
}
.shape-top:before,.shape-bottom:before{
  content: "";
  display: block;
  padding-top: 25%;
}

.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}
.position-top{      //add to html or extend
  position:relative;
  top: 10em;
}
#container{
      @include margin(0 auto);
      //cutoff the blue shape on the right/left side
      overflow:hidden;
      header,main,footer{
          max-width: 768px;
          @include margin(0 auto);
          @include padding(1em);
          @include bg-color(map-get($colors,White),nth($fallback-colors,5));
          overflow:hidden;
          @media screen and(min-width: 768px){
              @include padding(4em);
              max-width: 1400px;
          }
      }
      header{
          
          
      }
      .container{
        
        &__firstchild{
          .transform-right-down{
            top: 25%;
            left: 55%;
            @media screen and(min-width: 768px){
              top: 35%;
              left: 55%;
            }
          }
        }
        &__secondchild{
          .transform-left-down{
            top: 25%;
            right: 55%;
            @media screen and(min-width: 768px){
              top: 75%;
              right: 65%;
            }
          }
        }
        &__thirdchild{
           
        }   
        #center-button{
           display:block;
           @include margin(0 auto);
        }
        &__fifthchild{
          @include bg-color(map-get($colors,Soft Blue),nth($fallback-colors,1));
          .center-div{
            display:block;
            @include margin(0 auto);
          }
        }
        @media screen and(min-width: 768px){
          margin-top: 5%;
        }
      }
      footer{
          
      }
}
